In [1]:
import pandas as pd

In [6]:
df_rank = pd.read_csv('data/ratings.csv')
df_rank.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
df_movies = pd.read_csv('data/movies.csv')
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
movies_2005 = df_movies[df_movies['title'].str.contains(r'\(2005\)', regex=True)]

data_2005 = df_rank.merge(movies_2005, on="movieId")

data_2005 = data_2005.assign(genre=data_2005['genres'].str.split('|')).explode('genre')

ranking = data_2005.groupby('genre')['rating'].mean().sort_values(ascending=False)

print(ranking.head())

genre
Film-Noir      3.865979
War            3.698864
Documentary    3.680000
IMAX           3.593633
Crime          3.585993
Name: rating, dtype: float64